[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
luigi = "*"
pandas = "*"
biopython = "*"
regex = "*"
sklearn = "*"
xlrd = "*"
azimuth = "*"
numpy = "*"
scikit-learn = "*"
networkx = "*"
pygraphviz = "*"
bokeh = "*"
holoviews = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
sphinx = "*"
setuptools-scm = "*"

[requires]
python_version = "3.6"
