[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
luigi = "*"
pandas = "*"
biopython = "*"
regex = "*"
sklearn = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
sphinx = "*"
setuptools-scm = "*"

[requires]
python_version = "3.6"
